* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #e8e8e7 100%);  
}
